@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Saira');
nav {
    /*background: rgba(255, 255, 255, 0);*/
    background: rgba(255, 255, 255, 0);
    margin: 0;
    border: none;
    padding: 10px;
    /*box-shadow: 0px 0px 8px 0px #000000;*/
}
.myNav a{
    color: #ffffff;
    font-family: 'Saira', sans-serif;
    display: block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.myNav a {
    background: #00778c;
}
.myNav a:hover {
    color: #00778c;
    background: white;
    border-bottom: 1px solid #00778c;
}
.navbar-brand {
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
}
.navbar-brand:hover {
    color: #FF4E50;
}
.navbar-brand h4 {
    color: #018c82;
}
nav ul li {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 20px;
}
.jumbotron {
    margin-bottom: 0;
}
.section1 {
    background: url("../../assets/img/space.jpg") no-repeat center;
    background-size: cover;
    padding: 20px;
    height: 100vh;
    text-align: center;
    font-family: 'Saira', sans-serif;
    color: white;
}
.section1 .container {
    margin-top: 20vh;
}
.section1:after{
    background:rgba(0, 0, 0, 0.75);
}
.section2 {
    background: rgb(240, 239, 235);
    font-family: 'Lato', sans-serif;
    padding: 60px;
}
.section2 h1 {
    color: rgb(7, 23, 41);
    font-family: 'Lato', sans-serif;
}
.section2 .col-md-6 {
    padding: 10px;
    text-align: justify;
    font-family: 'Lato', sans-serif;
}
.section2 img {
    width: 400px;
    height: auto;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.section3 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../assets/img/materialImage/city.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color: white;
}
.quote_head {
    color: white;
    font-size: 40px;
    text-align: center;
}
.team_icon {
    width: 40;
    height: auto;
    filter: invert(100%);
}
.icon_us {
    margin: 0 auto;
    width: 55px;
    height: auto;
}
.section4 h1 {
    text-align: center;
    font-size: 40px;
}
.section4 hr {
    width: 20%;
    border: 1px solid rgb(107, 107, 107);
}
.row h2 {
    font-size: 14px;
    text-align: center;
}
.section4 .row {
    margin: 0 auto;
    border-right: 1px solid rgb(150, 150, 150);
    border-left: 1px solid rgb(150, 150, 150);
}
.section4 .row .col-md-2 {
    margin: 0 auto;
}
.section5 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../assets/img/materialImage/history.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: left;
    color: white;
}
.section5 h2 {
    font-size: 48px;
    font-family: 'Saira', sans-serif;
    color: white;
}
.section6 .row .container {
    padding: 20px;
}
.myCard {
    width: 100%;
    height: 400px;
    background: white;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
    border-radius: 7px;
    max-width: 370px;
    margin: 0 auto;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.myCard:hover {
    -webkit-box-shadow: 0 3px 30px 0 rgba(0,0,0,0.3);
    box-shadow: 0 3px 30px 0 rgba(0,0,0,0.3);
}
.headCard {
    width: 100%;
    height: 40%;
    background: url("../../assets/img/welcome_background.jpg") no-repeat;
    background-size: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.bodyCard {
    width: 100%;
    height: 50%;
    text-align: center;
    font-family: 'Saira', sans-serif;
    padding: 10px;
}
.photoBox {
    width: 130px;
    height: 130px;
    background: black;
    border-radius: 100px;
    margin: 0 auto;
    margin-top: -80px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
}
.myCard p {
    font-size: 14px;
    text-align: justify;
}
.footerCard {
    width: 100%;
    height: 10%;
}
.icon_container {
    width: 110px;
    height: 100%;
    margin: 0 auto;
}
.icon_container i {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.icon_container i:hover {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
    cursor: pointer;
}
.fa-facebook:hover {
    background: rgb(0, 87, 145);
    color: white;
}
.fa-whatsapp:hover {
    color: rgb(5, 91, 29);
}
.fa-instagram:hover {
    background: #bc2a8d;
    color: white;
}
.fa-linkedin:hover {
    background: rgb(184, 14, 14);
    color: white;
}
.section6 h2 {
    text-align: center;
    font-size: 35px;
    font-variant: small-caps;
}
.section6 hr {
    width: 50px;
    border: 1px solid rgb(112, 112, 112);
}
.section6 {
    background: rgb(238, 238, 238);
}
.robby {
    background: url("../../assets/img/team_pic/robby.jpg") no-repeat center center;
    background-size: cover;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
 .software_h {
     font-size: 35px;
     font-family: 'Saira', sans-serif;
     color: #004c8c;
     margin-bottom: 10px;
 }
 .software_title {
     font-size: 20px;
     font-family: 'Saira', sans-serif;
     color: #004c8c;
 }
 .vinson {
    background: url("../../assets/img/team_pic/vinson.jpg") no-repeat center center;
    background-size: cover;
}
.tommy {
    background: url("../../assets/img/team_pic/tommy.jpg") no-repeat center center;
    background-size: cover;
}