
.jumbotron {
    margin-bottom: 0;
    padding-left: 10px;
}
a {
    text-decoration: none;
    color: white;
}
.bodyBrand {
    margin: 0 auto;
    margin-top: 30vh;
}
@keyframes slideText {
    from {
        opacity: 0;
        transform: translateX(0%);
    } to {
        opacity: 1;
        transform: translateX(100%);
    }
}
.wrapper {
    height: 100vh;
    background: url("") no-repeat center center;
    background-size: cover!important;
    text-align: center;
    color: white;
    font-family: 'Saira', sans-serif;
    -webkit-transition: all 0.4s ease-in 1000;
    -moz-transition: all 0.4s ease-in 1000;
    transition: all 0.4s ease-in 1000;
    animation-name: slideText;
    animation-duration: 0.4s;
}
.wrapper h2 {
    font-size: 43px;
    text-shadow: 2px 2px #161616;
}
.wrapper p {
    text-shadow: 2px 2px #161616;
}
h1 {
    font-size: 37px;
    text-align: left;
    margin-top: -30px;
    text-shadow: 2px 2px #161616;
}
h1:hover {
    cursor: pointer;
}
.btn {
    width: 100px;
    height: 35px;
    text-align: center;
    font-size: 15px;
    background: rgb(255, 255, 255);
    color: rgb(16, 80, 198);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.btn:hover {
    background: rgb(16, 80, 198);
    color: white;
    -webkit-box-shadow: 0 3px 15px 0 rgba(0,0,0,0.3);
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.3);
}