<nav class="navbar navbar-default navbar-fixed-top" [@viewDown]="navIndicator">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Astrokid<br>
        <h4 [@viewDown]="textIndicator">Explore our universe</h4>
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="myNavbard">
      <ul class="nav navbar-nav navbar-right myNav">
          <li><a href="#">Home</a></li>
      </ul>          
    </div>
  </div>
</nav>
<div class="jumbotron section1">
  <div class="container">
    <img src="../../assets/icon/team.png" alt="" class="team_icon">
    <h1>Meet Our Team</h1>
    <h2>Creativity is ours</h2>
  </div>
</div>
<div class="jumbotron section2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <h1>Who we are</h1>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
        </div>
        <div class="col-md-6">
            <br>
            <br>
            <img src="../../assets/img/materialImage/work.jpg" alt="" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron section3">
    <div class="container">
      <h1 class="quote_head">Creativity lead us to the future</h1>
      <p>We working with creativity of our developers</p>
    </div>
  </div>
  <div class="jumbotron section4">
    <div class="container">
      <h1> Our Responsibilities </h1>
      <hr>
      <br>
      <div class="row">
        <div class="col-md-4">
          <img src="../../assets/icon/code_icon.png" alt="" class="img-responsive icon_us">
          <h2>Development</h2>
        </div>
        <div class="col-md-4">
          <img src="../../assets/icon/chat_icon.png" alt="" class="img-responsive icon_us">
          <h2>Communication Service</h2>
        </div>
        <div class="col-md-4">
          <img src="../../assets/icon/mt_icon.png" alt="" class="img-responsive icon_us">
          <h2>Support</h2>
        </div>
      </div>
    </div>
  </div>
<div class="jumbotron section5">
  <div class="container">
    <div class="col-md-3">
    <h2>History</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    </div>
  </div>
</div>
<div class="jumbotron section6">
  <div class="container">
    <h2>Meet the Team</h2>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="container">
          <div class="myCard">
            <div class="headCard">

            </div>
            <div class="bodyCard">
              <div class="photoBox robby">

              </div>
              <h4>Robby Muhammad Nst</h4>
              <p>Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. </p>
            </div>
            <div class="footerCard">
              <div class="icon_container">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-whatsapp"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
              </div>
            </div>
          </div>
        </div>
      </div>     
      <div class="col-md-4">
        <div class="container">
          <div class="myCard">
            <div class="headCard">

            </div>
            <div class="bodyCard">
              <div class="photoBox vinson">

              </div>
              <h4>Vinson Chandra</h4>
              <p>Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. </p>
            </div>
            <div class="footerCard">
              <div class="icon_container">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-whatsapp"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
              </div>
            </div>
          </div>
        </div>
      </div> 
      <div class="col-md-4">
        <div class="container">
          <div class="myCard">
            <div class="headCard">

            </div>
            <div class="bodyCard">
              <div class="photoBox tommy">

              </div>
              <h4>Tommy</h4>
              <p>Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. </p>
            </div>
            <div class="footerCard">
              <div class="icon_container">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-whatsapp"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 footerleft ">
          <div class="logofooter"> ASTROKID</div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
          <p><i class="fa fa-map-pin"></i> Jl.Garu I Gg.Ketapang No.3, Medan, Indonesia</p>
          <p><i class="fa fa-phone"></i> Phone (Indonesia) : +62 853 7503 4433</p>
          <p><i class="fa fa-envelope"></i> E-mail : robbybellamy6@gmail.com</p>
          
        </div>
        <div class="col-md-2 col-sm-6 paddingtop-bottom">
          <h6 class="heading7">GENERAL LINKS</h6>
          <ul class="footer-ul">
            <li><a href="#"> Register</a></li>
            <li><a href="#"> About Us</a></li>
            <li><a href="#"> Terms & Conditions</a></li>
            <li><a href="#"> Login</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 paddingtop-bottom">
          <h6 class="heading7">LATEST POST</h6>
          <div class="post">
            <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
            <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
            <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 paddingtop-bottom">
          <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <div class="fb-xfbml-parse-ignore">
              <blockquote cite="https://www.facebook.com/facebook"><a href="#">Facebook</a></blockquote>
              <blockquote cite="https://www.facebook.com/facebook"><a href="#">Instagram</a></blockquote>
              <blockquote cite="https://www.facebook.com/facebook"><a href="#">Twitter</a></blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>