<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Astrokid
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="myNavbard">
      <ul class="nav navbar-nav navbar-right myNav">
          <li><a href="/">Dashboard</a></li>
      </ul>          
    </div>
  </div>
</nav>
<div mnFullpage
[mnFullpageNavigation]="true"
[mnFullpageKeyboardScrolling]="true">

    <div id="section1" class="element-with-video-bg jquery-background-video-wrapper section fp-section fp-table first">
        <div class="fp-tableCell">
            <span class="title_desc">Luna 2</span><br>
            <span class="sub">Semua berawal dari yang kecil</span>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table second">
        <div class="fp-tableCell">
                <div class="col-md-12">
                    <div class="container desc">
                        <h2>Luna 2</h2>
                        <p>
                        Luna 2 (E-1A series) adalah pesawat ruang angkasa anak kedua dari Program Luna Uni Soviet yang diluncurkan ke Bulan. 
                        Itu adalah pesawat ruang angkasa pertama yang mencapai 
                        permukaan Bulan dan juga yang pertama objek buatan manusia 
                        untuk mendarat di planet lain. Pada tanggal 14 September 
                        1959 berhasil dipengaruhi dengan permukaan timur lunar Mare 
                        Imbrium dekat kawah Aristides, Archimedes, dan Autolycus.
                        </p>
                    </div>   
                </div>
        </div>
    </div>
    <div id="section3" class="section fp-section fp-table third">
       
    </div>
</div>