<nav class="navbar navbar-default navbar-fixed-top" [@viewDown]="navIndicator">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Astrokid<br>
        <h4 [@viewDown]="textIndicator">Explore our universe</h4>
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="myNavbard">
      <ul class="nav navbar-nav navbar-right myNav">
          <li><a href="#">Cancel</a></li>
      </ul>          
    </div>
  </div>
</nav>
<div class="jumbotron part" id="particles-js">

</div>
<div class="jumbotron section_first">
  <div class="container">
    <h2>Star Constelations</h2>
    <p>Pilih rasi bintang favorit kamu</p>
  </div>
  <i class="fa  fa-angle-down"></i><br>
  Scroll
</div>
<div class="jumbotron stars_collection">
  <div class="instruction_holder">
    <div class="container">
      <h1>Constelations List</h1>
      <p>Pilih rasi bintang dibawah ini</p>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="container">
            <div class="advice_card">
              <div class="headCard">
                <i class="fa fa-space-shuttle"></i>
                <span class="cons_name">Orion</span>
              </div>
              <div class="bodyCard">
                <p>Lorem ipsum sigid amit amit dah
                    Lorem ipsum sigid amit amit dah
                    Lorem ipsum sigid amit amit dah...
                </p>
              </div>
              <div class="footerCard">
                <p>Pilih</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <div class="advice_card">
              <div class="headCard">
                <i class="fa fa-space-shuttle"></i>
                <span class="cons_name">Ursa Major</span>
              </div>
              <div class="bodyCard">
                <p>Lorem ipsum sigid amit amit dah
                    Lorem ipsum sigid at amit dah
                    Lorem ipsum sigid amit amit dah...
                </p>
              </div>
              <div class="footerCard">
                <p>Pilih</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <div class="advice_card">
             <div class="headCard">
                <i class="fa fa-space-shuttle"></i>
                <span class="cons_name">Ursa Minor</span>
              </div>
              <div class="bodyCard">
                <p>Lorem ipsum sigid at amit dah
                    Lorem ipsum sigid amit amit dah
                    Lorem ipsum sigid amit amit dah...
                </p>
              </div>
              <div class="footerCard">
                <p>Pilih</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <div class="advice_card">
             <div class="headCard">
                <i class="fa fa-space-shuttle"></i>
                <span class="cons_name">Aquarius</span>
              </div>
              <div class="bodyCard">
                <p>Lorem ipsum sigid amit amit dah
                    Lorem ipsum sigid at amit dah
                    Lorem ipsum sigid amit amit dah...
                </p>
              </div>
              <div class="footerCard">
                <p>Pilih</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <div class="advice_card">
             <div class="headCard">
                <i class="fa fa-space-shuttle"></i>
                <span class="cons_name">Aquila</span>
              </div>
              <div class="bodyCard">
                <p>Lorem ipsum sigid amit amit dah
                    Lorem ipsum sigid at amit dah
                    Lorem ipsum sigid amit amit dah...
                </p>
              </div>
              <div class="footerCard">
                <p>Pilih</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <div class="advice_card">
             <div class="headCard">
                <i class="fa fa-space-shuttle"></i>
                <span class="cons_name">Orion</span>
              </div>
              <div class="bodyCard">
                <p>Lorem ipsum sigid amit amit dah
                    Lorem ipsum sigid amitamit dah
                    Lorem ipsum sigid amit amit dah...
                </p>
              </div>
              <div class="footerCard">
                <p>Pilih</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <div class="advice_card">
             <div class="headCard">
                <i class="fa fa-space-shuttle"></i>
                <span class="cons_name">Orion</span>
              </div>
              <div class="bodyCard">
                <p>Lorem ipsum sigid amit amit dah
                    Lorem ipsum sigid am amit dah
                    Lorem ipsum sigid amit amit dah...
                </p>
              </div>
              <div class="footerCard">
                <p>Pilih</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <div class="advice_card">
             <div class="headCard">
                <i class="fa fa-space-shuttle"></i>
                <span class="cons_name">Orion</span>
              </div>
              <div class="bodyCard">
                <p>Lorem ipsum sigid amit amit dah
                    Lorem ipsum sigid ami amit dah
                    Lorem ipsum sigid amit amit dah...
                </p>
              </div>
              <div class="footerCard">
                <p>Pilih</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <div class="advice_card">
             <div class="headCard">
                <i class="fa fa-space-shuttle"></i>
                <span class="cons_name">Orion</span>
              </div>
              <div class="bodyCard">
                <p>Lorem ipsum sigid amit amit dah
                    Lorem ipsum sigimit amit dah
                    Lorem ipsum sigid amit amit dah...
                </p>
              </div>
              <div class="footerCard">
                <p>Pilih</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <div class="advice_card">
             <div class="headCard">
                <i class="fa fa-space-shuttle"></i>
                <span class="cons_name">Orion</span>
              </div>
              <div class="bodyCard">
                <p>Lorem ipsum sigid amit amit dah
                    Lorem ipsum sigidit amit dah
                    Lorem ipsum sigid amit amit dah...
                </p>
              </div>
              <div class="footerCard">
                <p>Pilih</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <div class="advice_card">
             <div class="headCard">
                <i class="fa fa-space-shuttle"></i>
                <span class="cons_name">Orion</span>
              </div>
              <div class="bodyCard">
                <p>Lorem ipsum sigid amitit dah
                    Lorem ipsum sigid amit amit dah
                    Lorem ipsum sigid amit amit dah...
                </p>
              </div>
              <div class="footerCard">
                <p>Pilih</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">

  </div>
</div>
<div class="footer">
    <span>Copyright Astrokid@2017</span>
</div>