
nav {
    /*background: rgba(255, 255, 255, 0);*/
    background: rgba(255, 255, 255, 0);
    margin: 0;
    border: none;
    padding: 10px;
    /*box-shadow: 0px 0px 8px 0px #000000;*/
}
.myNav a{
    color: #ffffff;
    font-family: 'Saira', sans-serif;
    display: block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.myNav a {
    background: #00778c;
}
.myNav a:hover {
    color: #00778c;
    background: white;
    border-bottom: 1px solid #00778c;
}
.navbar-brand {
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
}
.navbar-brand:hover {
    color: #FF4E50;
}
.navbar-brand h4 {
    color: #018c82;
}
nav ul li {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 20px;
}
.jumbotron {
    margin-bottom: 0;
}
.section_first {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../assets/img/materialImage/shiny_space.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    color: white;
    font-family: 'Saira', sans-serif;
    text-align: center;
}
.section_first h2{
    margin-top: 37vh;
    font-size: 42px;
    font-family: 'Saira', sans-serif;
}
.section_first i {
    margin-top: 10px;
    font-size: 47px;
    color: white;
}
.stars_collection {
    padding: 0;
}
.stars_collection h1 {
    text-align: center;
    color: rgb(4, 42, 60);
}
.stars_collection p {
    text-align: center;
    color: rgb(4, 42, 60);
}
.stars_collection hr {
    width: 200px;
    border: 1px solid rgb(4, 42, 60);
}
.instruction_holder {
    background: rgb(237, 237, 237);
    width: 100%;
    padding: 10px;
    font-family: 'Saira', sans-serif;
    color: white;
}
.advice_card{
    width: 100%;
    height: 170px;
    max-width: 340px;
    margin: 0 auto;
    margin-bottom: 10px;
    background: white;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.headCard{
    width: 100%;
    height: 30%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../assets/img/materialImage/calm_space.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 10px;
    color: rgb(255, 255, 255);
}
.cons_name {
    font-size: 20px;
    margin-left: 5px;
}
.bodyCard {
    height: 50%;
    padding: 10px;
    color: rgb(70, 70, 70);
    font-size: 14px;
}
.bodyCard .title {
    font-size: 25px;
}
.bodyCard p {
    font-size: 14px;
    text-align: left;
    color: rgb(55, 55, 55);
}
.footerCard {
    height: 20%;
    background: rgb(4, 42, 60);
    color: white;
    text-align: center;
    font-size: 14px;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.footerCard p {
    color: white;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.advice_card:hover {
    -webkit-box-shadow: 0 9px 18px 0 rgba(0,0,0,0.6);
    box-shadow: 0 9px 18px 0 rgba(0,0,0,0.6);
}
.footer {
    width: 100%;
    height: 40px;
    background: rgb(16, 15, 15);
    color: white;
    font-family: 'Saira', sans-serif;
    text-align: center;
    line-height: 40px;
}
#particles-js {
    width: 100%;
    position: absolute;
    background: url("");
}
.footerCard:hover {
    cursor: pointer;
    background: white;
}
.footerCard:hover p {
    color: rgb(16, 15, 15);
}