@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Saira');
nav {
    /*background: rgba(255, 255, 255, 0);*/
    background: rgba(255, 255, 255, 0);
    margin: 0;
    border: none;
    padding: 10px;
    /*box-shadow: 0px 0px 8px 0px #000000;*/
}
.myNav a{
    color: #00778c;
    font-family: 'Lato', sans-serif;
    display: block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.myNav a:hover {
    color: #00778c;
    border-bottom: 1px solid white;
}
.navbar-brand {
    font-size: 45px;
    color: #FF4E50;
    font-family: 'Lato', sans-serif;
}
.navbar-brand:hover {
    color: #FF4E50;
}
.navbar-brand h4 {
    color: #018c82;
}
nav ul li {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 20px;
}
.jumbotron {
    margin-bottom: 0;
}
.welcome_section{
    background: url("../assets/img/welcome_img/astronout_wall.png");
    background-size: cover;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
    top: 0;
    text-align: center;
    color: #ffffff;
}

.welcome_section .container{
    margin-top: 40vh;
}
.white_{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 40px;
}
.my_icon
{
    width: 100px;
    height: auto;
    margin: 0 auto;
    margin-top: 10%;
}
.exp_button{
    color: white;
    width: 100px;
    height: 40px;
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    line-height: 40px;
    box-shadow: 0px 0px 2px 0px #000000;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 90px;
    border-radius: 5px;
    text-shadow: 0px 0px 0px #1f6287;
}
.register {
    font-size: 14px;
    color: white;
    text-shadow: 0px 0px 0px #1f6287;
}
.section1{
    height: auto;
    /*background: url("../assets/img/nebula.jpg");  */
    background: rgb(2, 12, 22);
    font-family: 'Saira', sans-serif;
}
.diff {
    color: #d55703;
}
.diff1 {
    color: #3966fa;
}
.astro img{
    width: 380px;
    height: auto;
    margin: 0 auto;
    transition: all 0.4s;
}
.section1_title
{
    background: #FF4E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 48px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sec1 {
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #c0392b, #8e44ad);
    font-family: 'Saira', sans-serif;
    border-image-slice: 1;
    margin-bottom: 10px;
}
.section2
{
    background: #040F21;
    background-size: cover;
    font-family: 'Saira', sans-serif;
    text-align: center;
    color: white;
    border-top: 0.5px solid transparent;
    border-bottom: 0.5px solid transparent;
	border-image: linear-gradient(to right, #34e89e, #0f3443);;
    border-image-slice: 1;
}
.desc1{
    color: white;
}
.section2_title
{
    font-family: 'Saira', sans-serif;
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 48px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.desc2 {
    color: white;
}
.section3{
    height: auto;
    background: #020C16;
    background-size: cover;
    font-family: 'Saira', sans-serif;
}
.content{
    padding: 10px;
    margin: 0 auto;
}
.contentCore{
    width: 100%;
    margin: 0 auto;
    height: 460px;
    max-width: 350px;
    color: white;
    padding: 20px;
    background: transparent;
    border: 0.5px solid transparent;
    border-image: linear-gradient(to top, #30e8bf, #ff8235);
    border-image-slice: 1;
    box-shadow: 0px 0px 4px 0px #1d1d1d;
}
.contentSec {
    idth: 100%;
    margin: 0 auto;
    height: 80px;
    color: white;
    padding: 20px;
    background: transparent;
    border: 0.5px solid transparent;
    border-image: linear-gradient(to top, #30e8bf, #ff8235);
    border-image-slice: 1;
    box-shadow: 0px 0px 4px 0px #1d1d1d;
}
.contentCore h2 {
  text-align: center;
}
.gal_btn {
  width: 120px;
  height: 40px;
  margin: 0 auto;
  border-radius: 5px;
  background: rgba(255, 255, 255, 1);
  color: black;
  text-align: center;
  line-height: 40px;
}
.contentCore p {
  margin-top: 10px;
  font-size: 12px;
  text-align: justify;
}
.contentCore img {
  width: 240px;
  height: auto;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 5px;
}
.starGate{
    background: #ffffff;
}
.section3 .container{
    margin-top: 10px;
}
[data-animate-in="up"] {
    transform:translate3d(0, 24px, 0)
   }
.section4 {
  height: auto;
  font-family: 'Saira', sans-serif;
  padding: 20px;
  color: black;
  text-align: center;
}
.section4 h2 {
  text-align: center;
  color: #0556ba;
}
.section4 img {
  width: 80px;
  height: auto;
  margin: 0 auto;
}
.section4 hr {
  border: 1px solid #384142;
}
.section4 p {
  font-size: 15px;
}
.section4 col-md-8 {
  padding: 60px;
}
.section5 {
  background: #020C16;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#004c8c;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 0px 0px 4px 0px #000000;
}
.not-visible {
    visibility: hidden;
}

.my-float{
	margin-top:22px;
}