<div class="jumbotron wrapper">
    <div class="container">
       
        <div class="wrapper_form">
            <div class="fadeIn first">
                <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
            </div>
            <span class="brand">ASTROKID</span>
            <p>Explore with your self</p>
            <form action="">
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username">
                    <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password">
                    <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
            <div id="formFooter">
                <a routerLink="/" class="underlineHover" href="#">Cancel</a><br>
                <a routerLink="/register" class="underlineHover" href="#">Register</a>
            </div>
        </div>
    </div>
</div>