<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Astrokid<br>
        <h4>Explore our universe</h4>
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="myNavbard">
      <ul class="nav navbar-nav navbar-right myNav">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Logout</a></li>
      </ul>          
    </div>
  </div>
</nav>
<div class="jumbotron first_sect">
  <div class="container">

  </div>
</div>