nav {
    /*background: rgba(255, 255, 255, 0);*/
    background: rgba(255, 255, 255, 0);
    margin: 0;
    border: none;
    padding: 10px;
    /*box-shadow: 0px 0px 8px 0px #000000;*/
}
.myNav a{
    color: #ffffff;
    font-family: 'Saira', sans-serif;
    display: block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.myNav a:hover {
    color: #00778c;
    border-bottom: 1px solid white;
}
.navbar-brand {
    font-size: 45px;
    color: rgb(29, 97, 142);
    font-family: 'Saira', sans-serif;
}
.navbar-brand:hover {
    color: rgb(3, 85, 81);
}
a {
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.navbar-brand h4 {
    /*color: #018c82;*/
    color: white;
}
nav ul li {
    font-family: 'Saira', sans-serif;
    color: white;
    font-size: 20px;
}
.jumbotron {
    margin-bottom: 0;
}
.first_sect {
    font-family: 'Saira', sans-serif;
    color: white;
    height: 100vh;
    text-align: center;
    max-height: auto;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),  url("../../assets/img/materialImage/dashboard_wall.jpg") no-repeat;
    background-size: cover;
}
.intermezo {
    text-align: left;
    margin-top: 30vh;
}
.intermezo h2 {
    font-size: 44px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.intermezo p {
    color: rgb(255, 255, 255);
}
.search {
    font-family: 'Saira', sans-serif;
    width: 90px;
    height: 35px;
    background: white;
    color: rgb(44, 120, 167);
    border: none;
    text-decoration: none;
    border-radius: 5px;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.search:hover {
    background: rgb(44, 120, 167);
    color: rgb(255, 255, 255);
}
.downIcon {
    font-size: 40px;
    margin-top: 15vh;
}
.downIcon:hover {
    cursor: pointer;
}
.title {
    color: rgb(3, 67, 63);
    font-size: 43px;
    text-align: center;
    font-variant: small-caps;
}
.story {
    width: 100%;
    height: 400px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
    padding: 10px;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.story:hover {
    -webkit-box-shadow: 0 3px 30px 0 rgba(0,0,0,0.3);
    box-shadow: 0 3px 30px 0 rgba(0,0,0,0.3);
}
.story_head {
    width: 100%;
    height: 60%;
    text-align: center;
    color: white;
    background: white;
}
.story_body {
    width: 100%;
    height: 30%;
    color: rgb(70, 70, 70);
    text-align: left;
    padding: 10px;
}
.story_body p {
    font-size: 13px;
}
.story .story_footer {
    width: 100%;
    height: 10%;
    text-align: center;
    border-top: 1px solid rgb(70, 70, 70);
}
#first {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),  url("../../assets/img/materialImage/history.jpg") no-repeat;
    background-size: cover;
}
#second {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),  url("../../assets/img/materialImage/dashboard.jpg") no-repeat;
    background-size: cover;
}
#third {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),  url("../../assets/img/welcome_img/solarsystem.png") no-repeat;
    background-size: cover;
}
#fourth {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),  url("../../assets/img/materialImage/bigbang_wall.jpg") no-repeat;
    background-size: cover;
}
#fifth {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),  url("../../assets/img/welcome_img/starse.jpg") no-repeat;
    background-size: cover;
}
.explore {
    width: 100%;
    height: 100%;
    background: white;
    color: rgb(44, 120, 167);
    border: none;
    font-variant: small-caps;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.explore:hover {
    background: rgb(19, 44, 65);
    color: white;
}
.continue {
    width: 280px;
    height: 45px;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-variant: small-caps;
    background: rgb(44, 120, 167);
    border: none;
    text-decoration: none;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
    color: white;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.continue:hover {
    -webkit-box-shadow: 0 3px 30px 0 rgba(0,0,0,0.3);
    box-shadow: 0 3px 30px 0 rgba(0,0,0,0.3);
}
.call {
    color: rgb(3, 67, 63);
    text-align: center;
    font-size: 32px;
    font-variant: small-caps;
}

.stars_pic {
    width: 100%;
    height: auto;
}
.constellation_section p {
    font-size: 16px;
    text-align: left;
}
.stars_desc {
    margin-bottom: 10px;
    padding: 10px;
}
.line_sec {
    width: 20%;
    border: 1px solid rgb(143, 143, 143);
}
.quote_sections {
    color: white;
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),  url("../../assets/img/materialImage/calm_space.jpg") no-repeat center center;
    background-size: cover;
}
.quote_sections h1 {
    font-size: 40px;
    font-variant: small-caps;
}
.quote_sections p {
    font-size: 20px;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:rgb(7, 53, 69); min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:rgb(4, 34, 45);}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}